{% extends 'layout.twig' %}
{% block email %}
    <div class="email-content-header pure-g">
        <div class="pure-u-1">
            <h1 class="email-content-title">{{ mail.subject }}</h1>
            <p class="email-content-subtitle">
                To: <span>{{ mail.to|join(', ') }}</span>
                From: <span>{{ mail.from }}</span>
            </p>
        </div>
        <div class="email-content-controls pure-u-1">
            <button data-switch-view="html" class="secondary-button pure-button">HTML</button>
            <button data-switch-view="text" class="secondary-button pure-button">Text</button>
            <button data-switch-view="source" class="secondary-button pure-button">Source</button>
        </div>

    </div>
    <div class="email-content-body">
        {{ mail.HTMLBody|raw }}
    </div>

    <div class="email-content-text">
        <pre>{{ mail.text }}</pre>
    </div>

    <div class="email-content-source">
        <pre>{{ mail.source }}</pre>
    </div>


{% endblock %}