<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive email layout.">
    <title>Fakemail</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/email.css">
</head>
<body>
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="/" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <a href="/" class="primary-button pure-button">FakeMail</a>

            <div class="pure-menu pure-menu-open">
                <ul>
                    {% for dir in dirs %}
                    <li {{ dir.selected ? 'class="pure-menu-selected"' }}><a href="{{ dir.link }}">{{ dir.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
        {% for file in files %}
            <a href="{{ file.link }}" class="email-item {{ file.selected ? 'email-item-selected'}} pure-g">
                <div class="pure-u">
                    <img class="email-avatar" height="64" width="64" src="{{ file.avatar }}">
                </div>

                <div class="pure-u-3-4">
                    <h5 class="email-name">{{ file.mail.to|join(', ') }}</h5>
                    <h4 class="email-subject"></h4>
                    <p class="email-desc">
                        {{ file.mail.subject }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content switch-view-html" data-container-switch-view>
            {% block email %}
            <div class="email-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="email-content-title">Select email to read</h1>
                </div>
            </div>
            <div class="email-content-body">
                <p>
                    You can navigate through days in left panel. You can view list of emails in selected day in middle panel.
                    When you click on email in middle panel it will be opened here. You can view html, text and source
                    representation of each email.
                </p>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-2.1.0.min.js" ></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-switch-view]').click(function(e) {
            $('[data-container-switch-view]')
                    .removeClass('switch-view-html')
                    .removeClass('switch-view-text')
                    .removeClass('switch-view-source')
                    .addClass('switch-view-' + $(e.target).attr('data-switch-view'));
        });

    });
</script>
</body>
</html>
